@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;500&family=Poppins:wght@400;500;600&display=swap');
#h2{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Kanit';
}
/* .custom-navbar {
    
   
  } */
  #our-team1{
    margin-top: 10px;
    background-image: url(./images/bk2.jpg);
  }
  #book{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Kanit';
  }
#primary{
  font-family: 'Kanit';
}
#parag{
  font-family: 'Kanit';
}
#logo{

  width: 7%;
}
@media screen and (max-width: 768px) {
  #logo{
    width: 19%;
  }
}
option{
  font-family: 'Kanit';
}
#book1{
  font-family: 'Kanit';
}